# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib


ddc.log
# Test binary, built with `go test -c`
*.test

# Dependency directories (remove the comment below to include it)
# vendor/

covprofile

bin/

*.swp
.DS_Store
.json
.vscode

lsp-quickpick
lsp-quickpick-filter

test.out
ddc.log
diag.tgz
__debug_bin
server-install

.attach_*
