name: Go

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  os_matrix:
    strategy:
      matrix:
        #os: [ubuntu-latest, windows-latest]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_PAT }}
      - name: docker pull dremio-ee
        run: docker pull dremio/dremio-ee:24.0
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.20
      - name: CI
        run: bash ./script/cibuild
      #- name: Send coverage
      #  env:
      #    COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #  run: goveralls -coverprofile=covprofile -service=github
